body{
    margin: 0;
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    min-height: 100vh;
    font-family: 'Fredoka One', cursive;
    color: #5e6472;
    font-size: 2rem;
}

.container{
    margin: 0 auto;
    width: 40%;
    h1{
        text-align: center;
    }
    
    #alert{
        color: #f94144;
        text-align: center;
    }
    #good{
        color: #90be6d;
        text-align: center;
    }
    
}

form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    
    label{
        text-align: left;
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 1.3rem;
        
        

    }
    input{
        text-align: right;
        width: 100%;
        border: none;
        color: #e0b1cb;
        font-family: 'Fredoka One', cursive;
        font-size: 2rem;
        background: none;
        &::placeholder{
            color: #fcd5ce;
        }
    }
    #submit{
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        width: 40%;
        text-align: center;
        color: #f9c74f;
        background-color: white;
        border-radius: 10px;

    }
    #loginSubmit{
        margin-top: 50px;
        width: 100%;
        text-align: center;
        color: #f9c74f;

    }

}

#loginForm{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    input{
        text-align: center;
        
    }
}
.edit{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.gif{
    margin: 0 auto;
    width: 100%;
    
}

.blockEdit{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.or{
    color: white;
    text-align: center;
}

.register{
    margin-left: auto;
    margin-right: auto;
    color: #f9c74f;
    text-decoration: none;
    
}

.containFlex{
    display: flex;
    flex-direction: column;
    align-content: center;
    
}

.head{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-height: 50px;
    align-content: center;
    i{
        color: #e5989b;
    }
    .userInterface{
        display: flex;
        justify-content: flex-end;
        min-width: 300px;
        max-height: 50px;
        margin: 0;
        li{
            list-style: none;
            margin-left: 5px;
            margin-right: 5px;
            i{
                color: #f4a261;
            }
        }
    }
}
#submitEdit{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 250px;
    text-align: center;
    color: #f9c74f;
    background-color: white;
    border-radius: 10px;

}
#logoHome{
    color: white;
}
.logoHome{
    color: white;
    text-decoration: none;
    width: 105px;
    margin-left: auto;
    margin-right: auto;
    
    
}
.currentInfo{
    color: white;
    margin-top: 0;
    text-align: right;
    
}
.currentValue{
    margin-top: 20px;
    margin-bottom: 60px;
    .currentTitle{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}